<h1>Editing Student: <%= @student.first_name %> <%= @student.last_name %></h1>

<%= render "form", student: @student %> <!-- Render the student form partial -->

<div class="mt-3">
  <%= link_to "Show this Student", @student, class: "btn btn-info" %> |
  <%= link_to "Back to Students", students_path, class: "btn btn-secondary" %> <!-- Links to show and back to students -->
</div>